<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <pipelines>
      <!--<getRenderingDatasource>
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel" />
      </getRenderingDatasource>-->
      <insertRenderings>
        <processor type="GA.SC.UI.SampleSite.Pipelines.InsertRenderings.Processors.SetSampleSiteGADatasources, GA.SC.UI.SampleSite" />
      </insertRenderings>
    </pipelines>
		<sites>
			<site patch:before="*[@name='website']"
				  name="GASampleSite"
				  hostName="gasamplesite"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content"
				  startItem="/GASampleSite/Home"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="10MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="5MB"
				  filteredItemsCacheSize="2MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false">
				<patch:attribute name="gaName">samplesite</patch:attribute>
			</site>
		</sites>
    <geneticalgorithms>
      <samplesite
				populationManagerType="GA.SC.UI.SampleSite.Population.SamplePopulationManager,GA.SC.UI.SampleSite"
				populationType="GA.Nucleus.Population.DefaultPopulation,GA.Nucleus"
				karyotypeType="GA.SC.UI.SampleSite.Population.PageKaryotype,GA.SC.UI.SampleSite"
				valueProviderType="GA.SC.UI.SampleSite.EV.DefaultEngagementValueProvider,GA.SC.UI.SampleSite"
				crossoverRatio="0.8"
				elitismRatio="0.01"
				fitnessRatio="1.0"
				fitnessThreshold="0.0"
				fitnessSort="ASC"
				mutationRatio="0.1"
				tourneySize="3"
				popSize="300">
      </samplesite>
    </geneticalgorithms>
	</sitecore>
</configuration>