<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<insertRenderings>
				<processor type="GA.SC.Pipelines.InsertRenderings.Processors.SetGADatasources, GA.SC" />
			</insertRenderings>
		</pipelines>
		<geneticalgorithms>
			<!--<node attribute="Fully.Qualified.ClassPath, Binary"></node>-->
		</geneticalgorithms>
	</sitecore>
</configuration>