<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<insertRenderings>
				<processor type="GA.SC.Pipelines.InsertRenderings.Processors.SetGADatasources, GA.SC" />
			</insertRenderings>
		</pipelines>
		<geneticalgorithms
			siteProperty="gaName">
			<gamonitor
				tagFolder="{DB75869F-0B03-471C-B366-5FA7DAD4DF65}"
				contentFolder="{D3A2510D-C989-485E-BFD2-8D4B651EFCE8}"
				contentTagField="Tags"
				datasourceValue="{9F8F8F2C-2980-4961-94A1-49A48209C2FD}"
				chromosomeName="pageContent"
				populationType="GA.SC.SCPopulation,GA.SC"
				karyotypeType="GA.SC.PageKaryotype,GA.SC"
				evProviderType="GA.SC.EV.DefaultEngagementValueProvider,GA.SC"
				crossoverRatio="0.8"
				elitismRatio="0.01"
				fitnessRatio="1.0"
				fitnessThreshold="0.0"
				fitnessSort="ASC"
				mutationRatio="0.1"
				tourneySize="3"
				popSize="300">
				<evModifier
					type="GA.SC.EV.DefaultValueModifier,GA.SC"
					minRatio="0.1"
					decimalPlaces="3"
					timespanAspect="Seconds"
					halfLife="2">
				</evModifier>
			</gamonitor>
		</geneticalgorithms>
	</sitecore>
</configuration>